fastapi
uvicorn
sqlalchemy
pydantic
pytest
black 
flake8
dotenv
pydantic[email]
passlib
jwt
bcrypt==3.2.2
psycopg2-binary
asyncio
PyJWT
bcrypt
python-jose
httpx
websockets
asyncpg 
aiosqlite
pytest-asyncio